.grid {
    display: grid;
    grid-template-columns: repeat(10, 43px);
    grid-template-rows: repeat(10, 43px);
    justify-content: center;
}

header {
    top: 0 px;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 6px 20px 0px;
    color: orange;
    text-shadow: 1px 1px;
    font-family: courier;
}

.message {
    display: table;
    margin: .5em auto;
    margin-top: 0.5em;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-left: auto;
    font-family: courier;
    color: orange;
}

.playerBlock {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    background: url('icons/player.png')repeat 0 0;
    background-size: cover;
}

.enemy {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    background: url('icons/octopus.png') repeat 0 0;
    background-size: cover;
}

.weaponBlock {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    background-color: rgb(245, 83, 110);
    background: url('icons/strike.png');
    background-size: cover;
    /* margin-right: 1em; */
}

.healthBlock {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    background-color: rgb(80, 197, 25);
    background: url('icons/jam.png');
    background-size: cover;
    margin-right: 1em;
}
#bat{
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    background-color: rgb(80, 197, 25);
    background: url('icons/stoned-bat.png');
    background-size: cover;
    margin-right: 1em;
}

#syringe {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    background-color: rgb(80, 197, 25);
    background: url('icons/health.png');
    background-size: cover;
    margin-right: 1em;
}

#jam {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    background-color: rgb(80, 197, 25);
    background: url('icons/jam.png');
    background-size: cover;
    margin-right: 1em;
}

.stage {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    background-color: rgb(80, 197, 25);
    background: url('icons/next-level.png');
    background-size: cover;
}

.walls {
    background: url('icons/brick-wall.png')
}

.pass {
    background-color: rgb(15, 15, 14)
}