body{
    background-color: white;
    color: rgba(10, 8, 8, 0.959);
    background-image: url("https://cindyloppar.github.io/recipebackgroud.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 50px;
    margin-left: 30px;
    

}

table {
    width:50%;
}

table, th, td {
    border: 1px solid whitesmoke;
    border-collapse: collapse;

}

textarea{ 
    width:100%;
    border-radius: 5px
}


#displayButton{
    width: 50%;
    content: "A" !important;
    display: block !important;
    margin-bottom: 0.5em !important;
    background-color:#c04535cc;
    border-radius: 5px;
    font-size: 22px;
    font-family: Italic ;
}

#addButton{
    margin-bottom: 0.5em !important;
   background-color: #c04535cc;
   border-radius: 5px;   
   font-size: 21px;
   font-family: Italic ; 
   
}